In [ ]:
!pip install xgboost==1.0.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xgboost==1.0.1
  Downloading xgboost-1.0.1-py3-none-manylinux1_x86_64.whl (109.7 MB)
     |████████████████████████████████| 109.7 MB 1.8 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost==1.0.1) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost==1.0.1) (1.21.6)
Installing collected packages: xgboost
  Attempting uninstall: xgboost
    Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
Successfully installed xgboost-1.0.1

In [ ]:
import numpy as np
import pandas as pd
from datetime import *

In [ ]:
TODO_3meses = pd.read_csv("TODO_3meses.csv")
TODO_3meses.drop(columns=["Unnamed: 0"],inplace=True)
TODO_3meses

,semanas,alarmas_por_semana,Tienda,alarmas_por_semana-1,alarmas_por_semana-2,alarmas_por_semana-3,alarmas_por_semana+1
0,4,0.0,A4188,0.0,0.0,2.0,0.0
1,4,0.0,A4930,0.0,1.0,1.0,1.0
2,4,0.0,A4441,0.0,0.0,1.0,0.0
3,4,0.0,A4399,2.0,15.0,2.0,0.0
4,5,1.0,A4930,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
229652,199,15.0,A0020,5.0,16.0,6.0,12.0
229653,199,1.0,A2027,0.0,0.0,0.0,4.0
229654,199,0.0,A4640,0.0,0.0,0.0,1.0
229655,199,2.0,A2024,3.0,1.0,5.0,1.0
229656,199,2.0,A0840,0.0,0.0,0.0,1.0

In [ ]:
tiendas = TODO_3meses.Tienda.unique()
to_numerical = np.arange(1, len(tiendas)+1)

dcc = dict(zip(tiendas,to_numerical))

TODO_3meses["Tienda_Num"] = TODO_3meses["Tienda"].apply(lambda x: dcc[x])
TODO_3meses.drop(columns=["Tienda"],inplace=True)
TODO_3meses

,semanas,alarmas_por_semana,alarmas_por_semana-1,alarmas_por_semana-2,alarmas_por_semana-3,alarmas_por_semana+1,Tienda_Num
0,4,0.0,0.0,0.0,2.0,0.0,1
1,4,0.0,0.0,1.0,1.0,1.0,2
2,4,0.0,0.0,0.0,1.0,0.0,3
3,4,0.0,2.0,15.0,2.0,0.0,4
4,5,1.0,0.0,0.0,1.0,0.0,2
...,...,...,...,...,...,...,...
229652,199,15.0,5.0,16.0,6.0,12.0,86
229653,199,1.0,0.0,0.0,0.0,4.0,1190
229654,199,0.0,0.0,0.0,0.0,1.0,1030
229655,199,2.0,3.0,1.0,5.0,1.0,232
229656,199,2.0,0.0,0.0,0.0,1.0,197

In [ ]:
TODO_3meses.sort_values(by=["Tienda_Num", "semanas"], inplace=True, ignore_index=True)

In [ ]:
TODO_3meses

,semanas,alarmas_por_semana,alarmas_por_semana-1,alarmas_por_semana-2,alarmas_por_semana-3,alarmas_por_semana+1,Tienda_Num
0,4,0.0,0.0,0.0,2.0,0.0,1
1,5,0.0,0.0,0.0,0.0,0.0,1
2,6,0.0,0.0,0.0,0.0,0.0,1
3,7,0.0,0.0,0.0,0.0,1.0,1
4,8,1.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...
229652,175,0.0,0.0,0.0,0.0,0.0,1528
229653,176,0.0,0.0,0.0,0.0,0.0,1528
229654,177,0.0,0.0,0.0,0.0,0.0,1528
229655,178,0.0,0.0,0.0,0.0,0.0,1528
229656,179,0.0,0.0,0.0,0.0,1.0,1528

Warning: total number of rows (229657) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
TODO_3meses.groupby(by=["semanas"]).count()

,alarmas_por_semana,alarmas_por_semana-1,alarmas_por_semana-2,alarmas_por_semana-3,alarmas_por_semana+1,Tienda_Num
semanas,,,,,,
4,4,4,4,4,4,4
5,15,15,15,15,15,15
6,23,23,23,23,23,23
7,28,28,28,28,28,28
8,50,50,50,50,50,50
...,...,...,...,...,...,...
195,783,783,783,783,783,783
196,743,743,743,743,743,743
197,689,689,689,689,689,689
198,637,637,637,637,637,637
199,534,534,534,534,534,534

#Split

In [ ]:
split_point = int(200*0.8)
data_train = TODO_3meses[TODO_3meses["semanas"] < split_point].copy()
data_val = TODO_3meses[TODO_3meses["semanas"] >= split_point].copy()

X_train, y_train = data_train[[i for i in data_train.columns if i!="alarmas_por_semana"]].values, data_train.alarmas_por_semana.values
X_test, y_test = data_val[[i for i in data_train.columns if i!="alarmas_por_semana"]].values, data_val.alarmas_por_semana.values

#train a predictive model

In [ ]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
#from fbprophet import Prophet

In [ ]:
#model1 = XGBRegressor(n_estimators=1000, max_depth=4, eta=0.1, subsample=0.7, colsample_bytree=0.8)
model2 = RandomForestRegressor(random_state=0)
#model3 = GradientBoostingRegressor(n_estimators=1000, random_state=0)
parameters = {'criterion':('squared_error', 'absolute_error', 'poisson'), 'max_depth': np.arange(1,16)}
model4 = GridSearchCV(model2, parameters)

#model1.fit(X_train, y_train)
#model2.fit(X_train, y_train)
#model3.fit(X_train, y_train)
model4.fit(X_train, y_train)
model4.best_params_

In [ ]:
#print ("Model1 train accuracy %.2f"%model1.score(X_train,y_train))
#print ("Model1 test accuracy  %.2f"%model1.score(X_test,y_test))
print ("Model2 train accuracy %.2f"%model2.score(X_train,y_train))
print ("Model2 test accuracy  %.2f"%model2.score(X_test,y_test))
#print ("Model3 train accuracy %.2f"%model3.score(X_train,y_train))
#print ("Model3 test accuracy  %.2f"%model3.score(X_test,y_test))
print ("Model4 train accuracy %.2f"%model4.score(X_train,y_train))
print ("Model4 test accuracy  %.2f"%model4.score(X_test,y_test))